h1{
	color:#d505f5;
	background-color:#14eefa;
	text-align:center;
}
h2{
	color:#c48b15;
	text-align:left;
}
h5{
	color:#58b2df;
}	
a{
	color:#fab93f;
}
body{
	background-color:#4b3c40;
	color:#f95d4d;
}
