h1{
	color:#d505f5;
	background-color:#14eefa;
	text-align:center;
	font-family: "MV Boli", cursive;
	font-size: 3em;
}
h2{
	color:#c48b15;
	text-align:left;
	font-size: 1.75em;
}
h5{
	color:#58b2df;
	font-weight: lighter;
}	
a{
	color:#fab93f;
}
body{
	background-color:#4b3c40;
	color:#fc160e;
	font-family: "SimSun", monospace;
	font-size: 1.25em;
}
p{
	text-indent: 1.75em;
	line-height: 1.1;
}
strong{
	color:#3ab4f9;
}	
em{
	color:#a5ced6;
}
nav{
	background-color:#a69b95;
	line-height: 2em;
	display: block;
}
nav ul{
    display: flex;
	text-align:center;
    width: 100%;
    margin: 0;
    padding: 0;
}
nav li{
    flex: 1 0 auto; 
    list-style-type: none;
	text-decoration:none;
}

nav a:link{
	color:#cb4528;
	text-decoration:none;
}
nav a:visited{
	color:#cb4528;
	text-decoration:none;
}
nav a:hover{
	text-decoration:underlined;
}
nav a:active{
	text-decoration:underlined;
}